<!DOCTYPE html>
<html>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #4CAF50;
    }

    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=email],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }


    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
<title>Hiring Page</title>

<body>

    <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <div>
        <form action="/home/" method="POST">
            <label for="fname">Name</label>
            <input type="text" required id="fname" name="name" placeholder="Your name..">

            <label for="lname">Email</label>
            <% if(error!=0) { %>
            <p style="color: red;"><%= error %></p>
            <% } %>
            <input type="email" required id="lname" name="email" placeholder="Your email..">


            <label for="lname">Resume Link</label>
            <input type="text" required id="resume" name="resume_link" placeholder="Your Resume Link ...">

            <label for="position">Position</label>
            <select id="position" name="position">
                <option value="Backend Developer">Backend Developer</option>
                <option value="Frontend Developer">Frontend Developer</option>
                <option value="Data Scientist">Data Scientist</option>
            </select>

            <label for="qualification">Highest Qualification</label>
            <select id="qualification" name="qualification">
                <option value="High School">High School</option>
                <option value="Undergraduate (UG)">Undergraduate (UG)</option>
                <option value="Post Graduate (PG)">Post Graduate (PG)</option>
            </select>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>